/Makefile
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
install-sh
src/META
src/Makefile
._bcdi/
._d/
._ncdi/
*.a
*.cm*
*.o
*.so
*.dSYM/
*\~
src/channel_layout.ml
src/channel_layout.mli
src/channel_layout_stubs.h
src/codec_id.ml
src/codec_id.mli
src/codec_id_stubs.h
src/gen_code
src/pixel_format.ml
src/pixel_format.mli
src/pixel_format_stubs.h
src/polymorphic_variant_values_stubs.h
src/sample_format.ml
src/sample_format.mli
src/sample_format_stubs.h
src/swresample_options.ml
src/swresample_options.mli
src/swresample_options_stubs.h
examples/decode_stream/decode_stream
examples/audio_decoding/audio_decoding
examples/audio_device/audio_device
examples/decode_audio/decode_audio
examples/demuxing_decoding/demuxing_decoding
examples/encode_audio/encode_audio
examples/encode_video/encode_video
examples/encode_stream/encode_stream
examples/encoding/encoding
examples/player/player
examples/remuxing/remuxing
examples/transcode_aac/transcode_aac
examples/transcoding/transcoding
examples/audio_decoding/flac.raw
examples/remuxing/out.mp4
examples/decode_stream/A4.ogg
examples/decode_stream/A4.mp3
examples/decode_stream/decode_stream
examples/read_metadata/read_metadata
*.mp3
*.flac
*.ogg
*.mp2
*.mkv
*.mp4
*.raw
test/test
*.annot
