depexts: [
  ["libavutil-dev" "libavformat-dev"] {os-family = "debian"}
  ["ffmpeg-dev"] {os-distribution = "alpine"}
  ["ffmpeg"] {os-distribution = "arch"}
  ["ffmpeg-devel"] {os-distribution = "centos"}
  ["ffmpeg-devel"] {os-distribution = "fedora"}
  ["ffmpeg-devel"] {os-family = "suse"}
  ["ffmpeg"] {os-distribution = "nixos"}
  ["ffmpeg"] {os = "macos" & os-distribution = "homebrew"}
]
