name: CI

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
        compiler: [4.14, 5.3]
        version: [n8.0.1]
        include:
          - os: ubuntu-latest
            compiler: 4.14
            version: n7.1
    env:
      OPAMASSUMEDEPEXTS: ${{ matrix.os == 'ubuntu-latest' }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Cache FFmpeg build
      id: cache-ffmpeg
      uses: actions/cache@v4
      with:
        path: ffmpeg
        key: ffmpeg-cache-${{ inputs.version }}-${{ runner.os }}
    - name: Build FFmpeg
      if: ${{ matrix.os == 'ubuntu-latest' }}
      uses: ./.github/actions/build-ffmpeg
      with:
        version: ${{ matrix.version }}
    - name: Build and test module
      uses: savonet/build-and-test-ocaml-module@main
      with:
        ocaml-compiler: ${{ matrix.compiler }}
    - name: Run CI tests
      run: |
        opam exec dune build @citest
