name: Doc build

on:
  push:
    branches:
      - main

jobs:
  build_doc:
    runs-on: ubuntu-latest
    env:
      OPAMASSUMEDEPEXTS: true
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Cache FFmpeg build
      id: cache-ffmpeg
      uses: actions/cache@v4
      with:
        path: ffmpeg
        key: ffmpeg-cache-${{ inputs.version }}-${{ runner.os }}
    - name: Build FFmpeg
      uses: ./.github/actions/build-ffmpeg
    - name: Build module
      uses: savonet/build-and-test-ocaml-module@main
      with:
        ocaml-compiler: 4.14
    - name: Build doc
      run: |
        opam install -y . --deps-only --with-doc
        opam exec dune build @doc
    - name: Deploy doc
      uses: JamesIves/github-pages-deploy-action@4.1.4
      with:
        branch: gh-pages
        folder: _build/default/_doc/_html
