name: Build
on: [push]
jobs:
  build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, macos-latest]
        ocaml-version: ['4.09.0']
    steps:
    - uses: actions/checkout@v1
    - uses: avsm/setup-ocaml@master
      with:
        ocaml-version: ${{ matrix.ocaml-version }}
    - run: opam pin add -n .
    - run: opam depext -yt ffmpeg
    - run: opam install -t .
